<div class="container" style="margin:100px">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar novedades</h4>
            <form action="/admin/novedades/modificar" method="post">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="form-group">
                    <label for="">Título</label>
                    <input type="text" class="form-control" name="titulo" value="{{novedad.titulo}}">
                </div>
                <div class="form-group">
                    <label for="">Subtítulo</label>
                    <input type="text" class="form-control" name="subtitulo" value="{{novedad.subtitulo}}">
                </div>
                <div class="form-group">
                    <label for="">Cuerpo</label>
                    <textarea name="cuerpo" class="form-control" value="{{novedad.titulo}}">{{novedad.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>

            </form>

            {{#if error}}
                <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>